<div class="fs-5 fw-bold">Formulário de Cadastro:</div>

<div *ngIf="product" class="row border-bottom-black">
    <div class="col-md-10 offset-md-1">

        <form [formGroup]="formGroupProduct" #ngFormProduct="ngForm">
            <div class="row mb-3 mt-3" *ngIf="isUpdate">
                <label for="idInput" class="col-sm-2 col-form-label">ID:</label>
                <div class="col-sm-1">
                    <input name="id" formControlName="id" type="text" class="form-control text-center border-secondary bg-secondary-subtle" id="idInput"
                        readonly>
                </div>
            </div>

            <!-- NAME -->
            <div class="row mb-3 mt-3">
                <label for="nameInput" class="col-sm-2 col-form-label">Nome:</label>
                <div class="col-sm-10">
                    <input name="name" formControlName="name" type="text" class="form-control border-secondary" id="nameInput">
                </div>
                <div class="" *ngIf="ngFormProduct.submitted">
                    <small class="form-text text-danger" *ngIf="pfgName?.errors?.['required']">*Nome é
                        requirido!</small>
                    <small class="form-text text-danger" *ngIf="pfgName?.errors?.['minlength']">*Tamanho mínimo de 3
                        carecteres!</small>
                </div>
            </div>

            <!-- DESCRIPTION -->
            <div class="row mb-3">
                <label for="descriptionInput" class="col-sm-2 col-form-label">Descrição:</label>
                <div class="col-sm-10">
                    <input name="description" formControlName="description" type="text" class="form-control border-secondary"
                        id="descriptionInput">
                </div>
                <div class="" *ngIf="ngFormProduct.submitted">
                    <small class="form-text text-danger" *ngIf="pfgDescription?.errors?.['required']">*Descrição é
                        requirida!</small>
                    <small class="form-text text-danger" *ngIf="pfgDescription?.errors?.['minlength']">*Tamanho mínimo
                        de 3
                        carecteres!</small>
                </div>
            </div>

            <!-- PRICE -->
            <div class="row mb-3">
                <label for="priceInput" class="col-sm-2 col-form-label">Preço:</label>
                <div class="col-sm-4">
                    <input name="price" formControlName="price" type="text" class="form-control border-secondary" id="priceInput">
                </div>
                <div class="" *ngIf="ngFormProduct.submitted">
                    <small class="form-text text-danger" *ngIf="pfgPrice?.errors?.['required']">*Preço é
                        requirido!</small>
                </div>

                <label for="selectCategory" class="col-sm-2 col-form-label">Categoia:</label>
                <div class="col-sm-4">
                    <select class="form-select border-secondary" id="selectCategory" name="category" formControlName="category"
                        [compareWith]="selectedCategory">
                        <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
                    </select>
                </div>
                <div class="" *ngIf="ngFormProduct.submitted">
                    <small class="form-text text-danger" *ngIf="pfgCategory?.errors?.['required']">*Categoria é
                        requirida!</small>
                </div>
            </div>
            <fieldset class="row mb-4">
                <legend class="col-form-label col-sm-2 pt-0">Opções:</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input name="promotion" formControlName="promotion" class="form-check-input border-secondary" type="checkbox"
                            value="" id="checkboxPromotion">
                        <label class="form-check-label" for="checkboxPromotion">
                            Promoção
                        </label>
                    </div>
                    <div class="form-check">
                        <input name="newProduct" formControlName="newProduct" class="form-check-input border-secondary" type="checkbox"
                            value="" id="checkboxNewProduct">
                        <label class="form-check-label" for="checkboxNewProduct">
                            Lançamento
                        </label>
                    </div>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary" (click)="save()">Salvar</button>
            <button type="submit" class="ms-2 btn btn-danger" (click)="cancel()">Cancelar</button>
        </form>
    </div>
</div>